.product-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.product-sections {
  flex: 1;
  overflow-y: auto;  
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 1110px;
}